head{
    float:left;
    float: top;
}

body{
    background-image: url(file:///C:/Users/1ASIR/Desktop/RETO-1/images/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition-duration: 0.4s;
    color: rgb(44, 33, 1);
}

.contacto{
    color: aliceblue;
    transition-duration: 0.4s;
}

.boton{
    align-items: center;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    color: white;
    background-color: coral; /*color del fondo del botón*/
    float: right; /*para que vaya a la derecha del todo*/
    float: top; /*para que vaya arriba del todo*/
    padding: 15px;
    margin-right: 10px; /*espacio entre botones*/
    border: none;
    text-align: center;
    font-size: 16px;
    transition-duration: 0.4s; /*transición para cuando se entre a la web*/
    cursor: pointer; /*cuando pasas el cursor cambia al pointer*/
}

.raise:hover,
.raise:focus {
  transform: translateY(-4px);
}

.boton:hover{  /*cuando pasas el cursor cambia de color*/
    background-color: rgb(48, 221, 184); 
    color: coral;
}
hr{
    border-top: 3px solid coral;
}
.men {
    background-color: coral; 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 20px;
    transition-duration: 0.4s;
}

.men .mennuu {
    display: grid;
    font-size: 20px;
    padding: 20px;
    list-style-type: none;
    display: inline;
}

.menu{
    color: white;
    cursor: pointer;
    transition-duration: 0.4s;
}

.mennuu:hover{
    color: rgb(48, 221, 184);
}

.nombres{
    display: grid;
    color: rgb(44, 33, 1);
    font-size: 15px;
    cursor: pointer;
}

.nombres:hover{
    color: coral;
}

.intro{
    display: grid;
    color: rgb(44, 33, 1);
    font-size: 15px;
    transition-duration: 0.4s;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: rgb(48, 221, 184);
}

h1{
    color: rgb(44, 33, 1);
    font-size: 50px;
}

h3{
    font-size: 30px;
}

.expl{
    float: left;
    font-size: 20px;
}

.mundo{
    float: right;
}

.columna {
    float: left;
    padding: 50px;
    margin-left: 100px;
}

.linea::after {
    content: "";
    clear: both;
    display: table;
}

.maristak{
    padding-bottom: 100px;
}

table{
    margin-left: 480px;
    margin-top: 50px;
    border:solid coral;
    font-size: 20px;
}

tr th{
    padding: 10px;
}