head{
    float:left;
}

.contacto{
    color: aliceblue;
}

.boton{
    color: white;
    background-color: green; /*color del fondo del botón*/
    float: right; /*para que vaya a la derecha del todo*/
    float: top; /*para que vaya arriba del todo*/
    padding: 9px;
    margin-right: 10px; /*espacio entre botones*/
    border: none;
    text-align: center;
    transition-duration: 0.4s; /*transición para cuando se entre a la web*/
    cursor: pointer; /*cuando pasas el cursor cambia al pointer*/
}

.boton:hover{  /*cuando pasas el cursor cambia de color*/
    background-color: rgb(48, 221, 184); 
    color: rgba(70, 64, 64, 0.651);
}
hr{
    border-top: 3px solid green;
}